{{> header}}
    <button style="position: fixed;top: 10px;right: 10px; padding-left: 0; padding-right: 0; border-radius: 50px; background-color: Transparent; border: none;" onclick="openNav()">
        <img src="https://img.icons8.com/cotton/2x/menu.png" style="width: 50px;">
    </button>
    
    <div class="container bg-text" style="height: 750px;word-wrap: break-word;">
        <h1 class="mb-4"> A propos </h1>
        <p>Le site a été développé par LE Hai Dang et MSAYIF Bassem</p>
    </div>

{{> footer}}