{{> header}}


    <div class="container">
        <div class="row">
                <img class="img-fluid" src="/logoprojecto.png">
        </div>
        <div class="row justify-content-center  mb-5">
            <div class="row">
                <h1>Bienvenue</h1>
            </div>
            <div class="row">
                BLABLABLABLABLABLABLABLABLABLABL
                ABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLABLA
                BLABLABLABLABLABLABLABLABLABLABLA
                BLABLABLABLABLABLABLABLABLABLABLA
                BLABLABLABLABLABLABLABLABLABLABLA
                BLABLABLABLABLABLABLABLABLABLABLA
                BLABLABLABLABLABLABLABLABLABLABLA
                BLABLABLABLABLABLABLABLABLABLABLA
            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <form action="/login" method="post">
                    Username
                    <div class="row mb-2">
                        <input type="text" name="name" placeholder="name" />
                    </div>
                    MDP
                    <div class="row mb-3">
                        <input type="password" name="password" placeholder="password" />
                    </div>
                    <div class="row">
                        <button type="submit">Inscription</button>
                        <button type="submit">Connection</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

{{> footer}}