{{> header}}

<div class="row h-100 justify-content-center align-items-center">
    <div class="card" style="background-color: rgb(43, 43, 41); width: 500px;">
        <div class="card-img-top" style="height: 550px;background-size: 100% 100%;background-image: url({{profilepic}});">
            <div class="obscure">
                <div class="container position-relative h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <img style="border-radius: 100px; height: 200px;" src="{{profilepic}}"> 
                    </div>
                    <a href="/update-profile-form" style="position: absolute; bottom: 0px; right: 0; ">
                        <img src="https://cdn3.iconfinder.com/data/icons/user-interface-1-10/24/icon-ui-1-options-512.png" style="width: 50px;">
                    </a>
                </div>
                  
            </div>
        </div>
       <div class="card-body" style="height: 200px;color: white;">
            
           <div class="row h-50 justify-content-center align-items-center" style="border-bottom: white 3px solid; margin-top: -20px; margin-left: -21px; width: 500px;">
                <h1 class="display-4">{{name}}</h5>
            </div>
            <div class="row justify-content-center align-items-center h-25 mt-2">
                <h2 class="card-text">{{score}}</h2>
           </div>
           <div class="row justify-content-center align-items-center">
                <h2>score</h2>
           </div>
        </div>
    </div>
</div>


{{> footer}}