{{> header}}

<!-- TODO -->.
    <div id="mySidenav" class="sidenav">
        <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Profil</a>
        <a href="#">Game</a>
        <a href="#">Shop</a>
        <a href="#">Ranking</a>
        <a href="/">About</a>

        <form class="form-inline" style="margin-top: 16px;">
            <input class="form-control mr-sm-2" style="width: 115px; margin-left: 34px;" type="search" placeholder="Search plant" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        {{#authenticated}}
        <div style="height: 62%; position:relative;">
            <form action="/logout" method="get">
                <input type="submit" class="btn btn-danger" style="position:absolute;bottom:0;right:10px;" 
                value="Deconnexion" name="logout"/>
            </form>
        </div>
        {{/authenticated}}

    </div>
  
    <button style="position: fixed;top: 10px;right: 10px; padding-left: 0; padding-right: 0; border-radius: 50px; background-color: Transparent; border: none;" onclick="openNav()">
     <img src="https://img.icons8.com/cotton/2x/menu.png" style="width: 40px;">
    </button>


    <div class="jumbotron ml-2 mr-2" style="background: none;">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-8 ml-3 mr-3">
            {{#plantes_list}}
                <div class="col mb-3">
                    <div class="card text-center shadow-sm h-100">
                        <img class="card-img-top" src="{{image}}" style="height: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                          
                            <a href="#" class="btn btn-lg btn-secondary" role="button" title="{{name}}" data-toggle="popover" data-trigger="hover" data-content="{{description}} <br /> Stock : {{stock}}">
                                Info
                            </a>
                          
                        </div>
                      </div>
                </div>
            {{/plantes_list}}
            </div>
    </div>
        


{{> footer}}
